<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/" title="Go to Shop Main-Page">Shop</a></li>
                <li><a href="/admin/add-product" title="Go to Add Product Page">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Error: 404 Page Not Found!</h1>
    </main>
</body>
</html>
